*{
    margin: 0;
    padding: 0;
}

#loginContainer{
    margin-top: 10%;
}

#loginUser, #loginPassword{
    width: 600px;
}

#welcome{
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#loginBtn{
    width: 580px;
    height: 50px;
    border-radius: 50px;
}

#loginGoogle, #loginFB{
    width: 250px;
    border-radius: 30px;
}

#cont{
    width: 100%;
    max-width: 620px;
}

#formContainer{
    margin-bottom: 50%;
}


#register-img{
    width: 100%;
    max-width: 25rem;
    height: 37.5rem;
    background-color: black;
    object-fit: cover;
}

#registerContainer{
    margin-top: 5%;
    margin-bottom: 20%;
}

#regImages{
    margin-top: 5%;
    margin-left: 5%;
}

#formContainerReg{
    margin-top: 5%;
    width: 100%;
    max-width: 48.938rem;
}

#firstName, #lastName{
    width: 331px;
}

#userName, #password, #confirmPassword, #phoneNumber, #email{
    width: 710px;
}

#eye-btn{
    position: absolute;
    top: 10px;
    left: 86%;
    
}

#eye-btn-login{
    position: absolute;
    top: 10px;
    left: 90%;
    
}
