*{
    margin: 0;
    padding: 0;
}
#shop-section{
    padding: 0 100px;
}

#shop-category{
    color: black;
}

#filter-btn{
    cursor: pointer;
}

#product-shop-img{
    padding: 25px;
    /* #807c7c; */
    border-radius: 5px;
    object-fit: contain;
    /* transition: width 0.6s ease, height 0.5s ease; */
    width: 500px;
    height: 450px;
    /* height: 100%;
    width: 100%; */
    text-decoration: none;
    transition: transform 0.3s ease;
}

#product-shop-img:hover{
    transform: scale(1.4);
}

.whiteBg{
    background-image: url('../color-images/white.jpg');
}

#product-shop-img-2{
    padding: 25px;
    /* #807c7c; */
    box-shadow: 5px 5px 5px 5px #dbdbdb;
    border-radius: 5px;
    object-fit: contain;
    /* transition: width 0.6s ease, height 0.5s ease; */
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 500px;
    text-decoration: none;
    /* transition: transform 0.3s ease; */
}

/* #product-shop-img-2:hover{
    transform: scale(1.1);
} */



.largeUp #product-shop-img-2 {
    width: calc(100% + 100px); 
    height: calc(100% + 100px); 
}

#card-product{
    border: none;
}

#heartIcon{
    width: 1.563rem;
    height: 1.563rem;
}

#product-name{
    font-size: 2rem;
    
}

#product-name, #product-price, #product-details, #product-color{
    margin: 0 0 2px 0;
}

#products-area{
    padding-left: 5%;
}

#shop-line{
    width: 100%;
    max-width: 34rem;
    height: 0.125rem;
}

#Product-Card-1{
    text-decoration: none;
}


@keyframes moveInput {
    0% {
        transform: translateX(-500px) translateY(-100px) transl;
    }

    25%{
        transform: translateX(-100px) translateY(-30px);
    }

    50%{
        transform: translateX(100px) translateY(100px);
    }

    75%{
        transform: translateX(150px) translateY(150px);
    }
    100% {
        transform: translateX(300px) translateY(300px); /* Move the input field 100px to the right */
    }
}

.moving-input {
    animation: moveInput 2s linear infinite alternate; /* Apply the animation to the input field */
}
