
    
    #hr1{
        margin-top: 6%;
        width: 1325px;
    }
    
    #formFile{
        width: 369px;
    }
    
    #floatingTextarea{
        max-width: 1280px;
        min-height: 360px;
        max-height: 360px;
    }
    
    
    #card{
        width: 18rem;
        min-height: 576px;
    }
    
    #product-seller-image{
        max-width: 100%;
        width: 95px;
        height: 80px;
        object-fit: contain;
    }
/* 
    #editProduct{
        position: fixed;
        z-index: 10000;
    }
     */
    