*{
    margin: 0;
    padding: 0;
}

#dashboardBox{
    background-color: #FAFAFA;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

#profile-container-img{
    height: 20rem;
    width: 100%;
    max-width: 20rem;
    background-color: #F6F6F6;
}

#profile-picture{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: rgba(255, 255, 255, 0.411);
    object-fit: cover;
    background-color: #0c0c0c;
}

#acc-menu-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

#advertise{
    position: relative;
    color: #ffffff;
    background: linear-gradient(to right, #ff0000 0, rgb(231, 27, 27) 10%, #ff0000 20%, #0c0c0c 30%);
    background-position: 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}


@keyframes shine{
    0%{
     background-position: 0;
    }
    
  60%{
    background-position: 125px;
  }
    
  100%{
    background-position: 210px;

  }

}

#address-table{
    width: 15rem;
}

#recipient-table{
    width: 15rem;
}
 

#address-container{
    max-width: 1205px;
    width: 100%;
}

#addAddress-container{
    background-color: #F9F9F9;
}

#nav-icons{
    height: 25px;
}

#addProduct-container{
    z-index: 1;
}

#account-container{
    margin-bottom: 20%;
}

#sales-container{
    padding: 10px;
    background-color: #ffffff;
    box-shadow: -2px 5px 5px 5px #ebebeb;
}

#dashIcon{
    color: rgb(6, 6, 150);
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.4rem;
}

#colorDrop{
    width: 10rem;
}

#sizeColorContainer{
    width: 20rem;
}

#quantityField{
    width: 8rem;
    font-size: 15px;
    height: 2rem;
}


#list{
    list-style: none;
}